<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="avnetDaemon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="IGMIncidenciasConnectionString" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=IGMIncidencias;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <avnetDaemon.Properties.Settings>
      <setting name="avnetDaemon_swMail_swMail" serializeAs="String">
        <value>http://192.168.10.2/swmail/swmail.asmx</value>
      </setting>
      <setting name="ficheroLog" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="cuentaOrigen" serializeAs="String">
        <value>infosara@avante.es</value>
      </setting>
      <setting name="cuentaAdmin" serializeAs="String">
        <value>dlopez@avante.es</value>
      </setting>
      <setting name="intervaloEjecucion" serializeAs="String">
        <value>60000</value>
      </setting>
    </avnetDaemon.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
